.form {
    padding: 20px;
}

.form__fieldset {
    border: 1px solid rgb(128, 127, 177);
    background-color: rgba(255, 255, 255, 0.76);
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0 30px #444444;
}

.form__legend {
    background-color: rgb(69, 66, 214);
    color: white;
    border-radius: 5px;
    padding: 7px 20px;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
}

.form__button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(69, 66, 214);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 30px #444444;
}

.form__button:hover {
    background-color: hsl(241, 64%, 60%);
}

.form__button:active {
    background-color: hsl(241, 64%, 65%);
}

.form__result {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 30px #444444;
}

.form__list {
    list-style-type: none;
    margin-left: 20px;
}